* {
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #f7f8f8, #acbb78);
}

.app {
  display: flex;
  flex-direction: column;
  width: 300px;
}